.footer {
    mat-icon {
        font-size: 0.5em;
        color: #7777;
        padding: 2px;
        line-height: inherit;
        width: inherit;
        height: inherit;
        position: relative;
        top: 3px;
    }
}