<section class="footer trans light noshad">
    <section class="pages" fxLayoutAlign="start" fxFlex="50">
        <a mat-button href="#">Terms of Use</a>
        <mat-icon class="img material-icons-filled">circle</mat-icon>
        <a mat-button href="#">Privacy</a>
    </section>

    <section class="lang" fxLayoutAlign="end" fxFlex="50">
        <a mat-button href="#">DE</a>
        <mat-icon class="img material-icons-filled">circle</mat-icon>
        <a mat-button href="#" class="active" disabled>EN</a>
    </section>
</section>