<section class="pg-signin" fxLayout="row" fxFlexFill>
    <section class="form" fxFlex="60" fxLayout="column">
        <section class="header" fxLayoutAlign="center center">
            <section fxFlex="30"><img src="../../assets/images/logo.svg"></section>
            <section fxFlex="70" fxLayoutAlign="end"><a mat-button href="#">Home</a></section>
        </section>
        <section class="sign-in" fxLayout="column" fxLayoutAlign="center center">
            <p class="ucase">Start your free photo experience</p>
            <h1>Login your account</h1>
            <form fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="Your E-Mail">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input #passwd matInput type="password" placeholder="Your Password">
                    <mat-icon
                        [style] = "passwd.value ? 'cursor: pointer' : ''"
                        (mousedown) = "passwd.value ? passwd.type='text' : ''"
                        (mouseup) = "passwd.value ? passwd.type='password' : ''"
                        matSuffix>{{ passwd.value ? 'visibility' : 'vpn_key' }}</mat-icon>
                </mat-form-field>

                <section fxLayout="row" fxLayoutGap="30px">
                    <button mat-raised-button color="accent">Register</button>
                    <button mat-raised-button color="primary">Login</button>
                </section>
            </form>
            <section class="alternatives" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                <mat-checkbox fxLayoutAlign="start">Remember me</mat-checkbox>
                <a mat-button href="#" fxLayoutAlign="end">Forgot password?</a>
            </section>
        </section>
        <section class="footer">
            <section class="pages" fxLayoutAlign="start" fxFlex="50">
                <a mat-button href="#">Impress</a>
                <mat-icon>radio_button_unchecked</mat-icon>
                <a mat-button href="#">Privacy</a>
            </section>

            <section class="lang" fxLayoutAlign="end" fxFlex="50">
                <a mat-button href="#">DE</a>
                <mat-icon>radio_button_unchecked</mat-icon>
                <a mat-button href="#" class="active" disabled>EN</a>
            </section>
        </section>
    </section>
    <section class="banner" fxFlex="40"></section>
</section>
