.pg-signin {
    height: calc(100vh - 100px);

    .sign-in {
        margin: auto auto;
        width: 400px;
        border-radius: 5px;
        background: #fffc;

        .mat-toolbar {
            background: #0008;
            color: white;
            border-radius: 5px 5px 0 0;
            cursor: move;
        }

        .titlebar {
            // color: #6B6C6F;
            font-size: 0.8em;
            // background-color: #fff5;
        }

        .body {
            padding: 15px;
            overflow: scroll;
            width: calc(400px - 30px);

            * {
                width: 100%;
            }

            .alternatives {
                padding-top: 20px;
            }
        }
    }
}