.pg-signin {
    height: calc(100vh - 100px);

    .sign-in {
        margin: auto auto;
        width: 400px;
        border-radius: 5px;
        background: #fffd;

        .mat-toolbar {
            background: #0008;
            color: white;
            border-radius: 5px 5px 0 0;
            cursor: move;
            height: inherit;
            padding: 10px;

            .titlebar {
                font-size: 0.8em;
            }
        }

        .body {
            background: rgba(255, 255, 255, 0.342);
            padding: 15px;
            overflow: scroll;
            width: calc(400px - 30px);

            * {
                width: 100%;
            }

            .alternatives {
                padding-top: 20px;
            }
        }
    }
}