<section class="pg-signin" fxLayout="row">
    <section class="sign-in trans light" cdkDrag fxLayout="column" fxLayoutAlign="center center">
        <mat-toolbar cdkDragHandle>
            <div class="titlebar ucase">Login to your account</div>
        </mat-toolbar>
        
        <section class="body">
            <p>Start your free photo experience!</p>
            <form fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="Your E-Mail">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input #passwd matInput type="password" placeholder="Your Password">
                    <mat-icon
                        [style] = "passwd.value ? 'cursor: pointer' : ''"
                        (mousedown) = "passwd.value ? passwd.type='text' : ''"
                        (mouseup) = "passwd.value ? passwd.type='password' : ''"
                        matSuffix>{{ passwd.value ? 'visibility' : 'vpn_key' }}</mat-icon>
                </mat-form-field>

                <section fxLayout="row" fxLayoutGap="30px">
                    <button mat-raised-button color="accent">Register</button>
                    <button mat-raised-button color="primary">Login</button>
                </section>
            </form>
            <section class="alternatives" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                <mat-checkbox>Remember me</mat-checkbox>
                <a mat-button href="#">Forgot password?</a>
            </section>
        </section>
    </section>
</section>
