/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;

    a {
        text-decoration: none;

        &.mat-button, &.mat-icon-button, &.mat-stroked-button {
            color: #29b1cc;
            padding: 5px 7px;
            min-width: inherit;
            line-height: inherit;

            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
            }
    
            &.active {
                color: #aaa;
            }

            &.mat-button-disabled {
                cursor: not-allowed;
                text-decoration: none;
            }
        }
    }

    .ucase {
        text-transform: uppercase;
    }

    .lcase {
        text-transform: lowercase;
    }
}
